body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100vh;
  color: #e1e1e1;
  background-color: #222222;
  overflow: hidden;
}

div {
  width: 100%;
}

body {
  margin: 5%;
}

/* Desktops */
@media screen and (min-width: 801px) {
  #title-header {
    font-size: 80px;
  }

  #description, input,  button {
    font-size: 90px;
  }

  #parameters {
    font-size: 40px;
  }

  #main-timer {
    font-size: 250px;
  }
}

/* Mobile */
@media screen and (max-width: 800px) {
  #title-header {
    font-size: 50px;
  }

  #description, input, button {
    font-size: 80px;
  }

  #parameters {
    font-size: 30px;
  }

  #main-timer {
    font-size: 150px;
  }
}

#title-header {
  text-align: center;
  padding-top: 5%;
  height: 10%;
}

#parameters {
  padding-top: 20%;
  text-align: center;
}

#description {
  height: 50%;
  bottom: 0;
  text-align: center;
}

#sticky-topper {
  top: 0;
  height: 50%;
  text-align: center;
}

input, button {
  width: 75%;
  height: 10%;
  margin: 2%;
}

#main-timer {
  margin-bottom: 10%;
}

.main-timer-clicked {
  box-shadow:inset -3px -3px 0px 6px #e1e1e1;
}

#buttons-plane button {
  width: 30%;
  height: 10%;
  margin: 10px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#main-button {
  height: 15%;
  margin: 2%;
}