body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100vh;
  color: #e1e1e1;
  background-color: #222222;
  position: relative;
  overflow: hidden;
}

/* Desktops */
@media screen and (min-width: 801px) {
  #title-header {
    font-size: 80px;
  }

  #description, input, #buttons-plane button {
    font-size: 50px;
  }

  #parameters {
    font-size: 40px;
  }

  #main-timer {
    font-size: 200px;
  }
}

/* Mobile */
@media screen and (max-width: 800px) {
  #title-header {
    font-size: 50px;
  }

  #description, input, #buttons-plane button {
    font-size: 40px;
  }

  #parameters {
    font-size: 30px;
  }

  #main-timer {
    font-size: 100px;
  }
}

#title-header {
  text-align: center;
  padding-top: 5%;
  height: 5%;
}

#description {
  padding-left: 15%;
  padding-right: 15%;
  height: 30%;
  padding-top: 5%;
  padding-bottom: 5%;
}

#parameters {
  height: 50%;
  width: 100%;
  text-align: center;
  bottom: 0;
  position: fixed;
}

input {
  width: 50%;
  height: 10%;
  margin: 2%;
}

#main-timer {

}

#buttons-plane button {
  width: 30%;
  height: 10%;
  margin: 10px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}