<html>
<head>
      <!--other script and also external css included over here-->
</head>
<body>
<h1 id="title-header">Coffee Helper</h1>

<p>This tool is currently under development. It will assume you are using 40g grounds with a standard 3:5 method.</p>

<p>Currently using version 1.01</p>

<form action="timer" method="post">
	<label for="weight" inputmode="numeric">Enter Weight (grams): </label>
	<input name="weight" type="number" pattern="[0-9]*" />
	<input type="submit" value="OK">
</form>

</body>
</html>