<html>
<head>
	<link rel="stylesheet" href="css/defaults.css">
</head>
<body>
	<h1 id="title-header">Coffee Helper</h1>

	<div id="description">
		<p>This tool is currently under development. It will assume you are using 40g grounds with a standard 3:5 method and 1:16 coffee:water ratio.</p>

		<p>Currently using version 1.01</p>
	</div>

	<div id="parameters">
		<form action="timer" method="post">
			<label for="weight" inputmode="numeric">Enter Weight (grams): </label><br />
			<input name="weight" type="number" pattern="[0-9]*" /><br />
			<input type="submit" value="OK">
		</form>
	</div>

</body>
</html>