<html>
<head>
	<link rel="stylesheet" href="css/defaults.css">
</head>
<body>
	<div id ="sticky-topper">
		<div id="title-header">Coffee Helper</div>

		<div id="parameters">
			<form action="timer" method="post">
				<label for="weight" inputmode="numeric">Enter Weight (grams): </label><br />
				<input name="weight" type="number" pattern="[0-9]*" /><br /><br />
				<input type="submit" value="OK" id="main-button">
			</form>
		</div>

	</div>


	<div id="description">
		<p>This tool is currently under development. It will assume you are using coffee grounds with a standard 3:5 method and 1:16 coffee:water ratio.</p>
	</div>

</body>
</html>